.root-welcome {
    min-width: 375px;
    background-color: #e1faf6;
}

.container-welcome {
    width: 100%;
    height: fit-content;
    padding: 28px 42px 41px 42px;
}

.columns-welcome {
    gap: 20px;
}

.column-2 {
    display: grid;
    gap: 14px;
}

.field {
    text-align: center;
    width: 100%;
}

.div_input-location {
    width: 70%;
}

.div_btn-location {
    width: 30%;
}