.root-auth {
    min-width: 375px;
    background-color: #e1faf6;
}

.container-auth {
    width: 100%;
    height: fit-content;
    padding: 40px 44px;
}

.btn-auth {
    text-align: center;
    width: 100%;
}

.column_sign-in {
    gap: 4px;
}