.root-auth {
    min-width: 375px;
    background-color: #e1faf6;
}

.container-auth {
    width: 100%;
    height: fit-content;
    padding: 40px 44px;
}


/* ????? btn-auth */

.btn-auth {
    text-align: center;
    width: 100%;
}

.column-signup {
    gap: 4px;
}


/* .sub-1,
.sub-2 {
    width: 50%;
} */


/* .container-button {
    text-align: center;
} */